<section class="sign form-container">
    <header class="form-header">
        <h1 class="form-title">Time to jump</h1>
    </header>

    <form method="post" action="/signup" id="form_user">
        <div class="form-item-wrapper flexed-item">

            <input id="name" name="name" type="text" class="input-text input" placeholder="First name" required>
        </div>
        <div class="form-item-wrapper flexed-item">

            <input id="lastname" name="lastname" type="text" class="input-text input" placeholder="Last name" required>
        </div>
        <div class="form-item-wrapper flexed-item">

            <input id="email" name="email" type="email" class="input-text input" placeholder="adresse email" required>
        </div>
        <div class="form-item-wrapper flexed-item">

            <input id="password" name="password" type="password" class="input-text input" placeholder="password"
                required>
        </div>
        <button class="button-primary white">Create Account</button>
    </form>
    <p class="form-sub-infos">Already have an account ? <a href="/signin" class="button-link-form">Sign In</a></p>
</section>