<section class="sign form-container">
    <header class="form-header">
        <h1 class="form-title">Login</h1>
    </header>

    <form method="post" action="/signin" id="form_user">
        <div class="form-item-wrapper flexed-item">
            <input id="email" name="email" type="email" class="input-text input" placeholder="" required value="">
        </div>
        <div class="form-item-wrapper flexed-item">
            <input id="password" name="password" type="password" class="input-text input" placeholder="" required
                value="">
        </div>
        <button class="button-primary white">Login</button>
    </form>
    <p class="form-sub-infos">Don't have an account yet ? <a href="/signup" class="button-link-form">Sign Up</a>
    </p>
</section>