<header id="header_main">
    <nav id="nav_main" class="nav">
        <div id="main-links">
            <a class="link" href="/home">Home</a>
            <a class="link" href="/all-spots">Spots</a>
        </div>
        <div id="log">
            {{#unless isLoggedIn}}
            <a class="link" href="/signin">Login</a>
            {{/unless}}
            {{#if isLoggedIn}}
            <a href="/favorites" id="nav_favorites" class="button-ternary flexed-item nav-end-item">
                <span class="btn-text">Favorites</span>
            </a>
            {{/if}}
            {{#if isLoggedIn}}
            <a href="/logout" id="nav_logout" class="button-ternary flexed-item nav-end-item">
                <span class="btn-text">Log out</span>
            </a>
            {{/if}}
        </div>
    </nav>
</header>