<section id="hero">
    <div id="intro-block">
        <h1 class="title">IronKite</h1>
        <p id="subtitle">Find the best spots nearby.</p>
        <div>
            <button id="ride-button">Let's ride</button>
        </div>
    </div>
</section>
<section id="results-wrapper">
    <p>Here's the best spot to go tomorrow</p>
    <div id="results">

    </div>
</section>